.resposta-1 {
    font-size: 19px;
    background-color: #ffffff10
}



.resposta-2 {
    font-size: 20px;
    background-color: #ffffff10;

}



.resposta-3 {
    font-size: 20px;
    background-color: #ffffff10;
}



.resposta-4 {
    font-size: 20px;
    background-color: #ffffff10;
}



.resposta-5 {
    font-size: 20px;
    background-color: #ffffff10;
}



.resposta-6 {
    font-size: 20px;
    background-color: #ffffff10;
}



.resposta-7 {
    font-size: 19px;
    background-color: #ffffff10;
}



.resposta-8 {
    font-size: 20px;
    background-color: #ffffff10;
}



.resposta-9 {
    font-size: 19px;
    padding: 30px;
    background-color: #ffffff10;
}



.resposta-10 {
    font-size: 19px;
    padding: 30px;
    background-color: #ffffff10;
}