.pergunta-1 {
  margin-left: 20px;
  font-size: 30px;
}

.pergunta-2 {
  margin-left: 25px;
  font-size: 30px;
}

.pergunta-3 {
  margin-left: 20px;
  font-size: 30px;
}

.pergunta-4 {
  margin-left: 25px;
  font-size: 30px;
}

.pergunta-5 {
  margin-left: 20px;
  font-size: 30px;
}

.pergunta-6 {
  margin-left: 25px;
  font-size: 30px;
}

.pergunta-7 {
  margin-left: 20px;
  font-size: 30px;
}

.pergunta-8 {
  margin-left: 25px;
  font-size: 30px;
}

.pergunta-9 {
  margin-left: 20px;
  font-size: 30px;
}

.pergunta-10 {
  margin-left: 25px;
  font-size: 30px;
}